<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>StudyBuddy</title>
    <link rel="stylesheet" type="text/css" href="../styles/importer.css">
  </head>
  <body>
    <a href="main.html">
      <img src="../images/studybuddy.png" class="main-logo">
    </a>

    <h1>Sign In</h1><br>
    <form action="login" method="post" id="login">
      email: <input type="text" name="email"><br>
      password: <input type="password" name="password"><br>
    </form>
    <button type="submit" form="login" value="Submit">Sign In</button>

    <h1>Sign Up</h1><br>
    <form action="signup" method="post" id="signup">
      username: <input type="text" name="name"><br>
      email: <input type="text" name="email"><br>
      password: <input type="password" name="password"><br>
    </form>
    <button type="submit" form="signup" value="Submit">Sign Up</button>
  </body>
</html>
