<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="../styles/importer.css">
</head>
<body>
<nav id="top-nav">
  <img src="../images/sb.png" class="sb-top">
  <img src="../images/cog.png" class="cog-top">
</nav>
<div class="table-title">GRE Subjects</div>
<table class="subjects">
  <tr>
    <td>
      <img src="../images/qr_icon.png">
      <div>Quantitative Reasoning</div>
    </td>
    <td>
      <img src="../images/qr_icon.png">
      <div>Chemistry</div>
    </td>
    <td>
      <img src="../images/qr_icon.png">
      <div>Mathematics</div>
    </td>
  </tr>
    <td>
      <img src="../images/qr_icon.png">
      <div>Literature In English</div>
    </td>
    <td>
      <img src="../images/qr_icon.png">
      <div>Physics</div>
    </td>
    <td>
      <img src="../images/qr_icon.png">
      <div>Verbal Reasoning</div>
    </td>
  <tr>
    <td>
      <img src="../images/qr_icon.png">
      <div>Biology</div>
    </td>
    <td>
      <img src="../images/qr_icon.png">
      <div>Psychology</div>
    </td>
    <td>
      <img src="../images/qr_icon.png">
      <div>Analytical Writing</div>
    </td>
  </tr>
  <tr>
    <td>
      <img src="../images/qr_icon.png">
      <div>Biochemistry</div>
    </td>
  </tr>
</table>
</body>
</html>
