/* questions.scss
 *
 * This is a partial for the questions page
 */
body {
  font: 100% "Open Sans", sans-serif;
  color: #333333;

  .main-logo {
    position: fixed;
    top: 50%;
    left: calc(50% - 141px);
  }

  .table-title {
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: auto;
    color: #ffbc68;
    font-size: 20px;
    font-weight: 800;
  }

  .question {
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    width: auto;
    color: #ffe088;
    font-size: 20px;
    font-weight: 800;
    background-color: #fd7a6c;
    width: 450px;
  }

  .options {
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: auto;
    color: #000000;
    font-size: 20px;
    font-weight: 800;
    background-size: 600px 800px;
    background-repeat: no-repeat;
    border-spacing: 10px 10px;
  }

  .opt-cell {
    padding: 5px;
    background-color: #ffffff;
  }
  .opt-row {
    padding: 5px;
  } 

  #top-nav {
    height: 75px;
    width: 100%;
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0;

    .sb-top {
      margin: auto;
      display: block;
    }

    .cog-top {
      margin: auto 0 auto auto;
      display: block;
      position: relative;
      right: 10px;
      bottom: 59px;
    }
  }

  #end-nav {
    height: 75px;
    width: 100%;
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    color: #e06666;

    td {
       height: 200px;
       width: 200px;
    }
  }
}
