/* importer.scss
 *
 * By default, new Sails projects are configured to compile this file
 * from SASS to CSS.  Unlike CSS files, SASS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The SASS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent SASS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import '_questions.scss';
body {
  font: 100% "Open Sans", sans-serif;
  color: #333333;

  .main-logo {
    position: fixed;
    top: 50%;
    left: calc(50% - 141px);
  }

  .table-title {
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: auto;
    color: #ffbc68;
    font-size: 20px;
    font-weight: 800;
  }

  #top-nav {
    height: 75px;
    width: 100%;
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0;

    .sb-top {
      margin: auto;
      display: block;
    }

    .cog-top {
      margin: auto 0 auto auto;
      display: block;
      position: relative;
      right: 10px;
      bottom: 59px;
    }
  }

  table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    color: #e06666;

    &.subjects {
      td {
        height: 200px;
        width: 200px;
        text-align: center;
      }
    }

    &.category-menu {
      td {
        height: 250px;
        width: 250px;

        div.outer {
          font-size: 25;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 250px;
          height: 250px;
          margin: auto;
          height: 100%;
          width: 100%;
          outline: 2px solid #e06666;
          border-spacing: 3px 3px;
        }

        &.orange {
          div.outer {
            background-color: #ffbc68;
          }
        }
      }
    }
  }
}
